<div id="info">
    <img [src]="profile.getOwnProfile().image" alt="Saiga chat" id="logo">
    <span>{{profile.getOwnProfile().name}}</span>
    <button (click)="logout()">Logout</button>
</div>
<app-searchbar></app-searchbar>
<div id="allchannels">
    <app-channel *ngFor="let channel of channels" [channel]="channel" [ngClass]="{selected: chat.getCurrentChannel() !== undefined && chat.getCurrentChannel().id === channel.id}" (click)="onClickChannel($event)" [id]="channel.id"></app-channel>
</div>