:host{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 2px);
    overflow: hidden;
}

#logo{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}

#allchannels{
    width: 100%;
    overflow: auto;
}

.selected{
    background-color: #eeeeee;
}

#info{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#info span{
    font-size: 18px;
    font-weight: bold;
}