:host{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid gray;
    font-size: 18px;
}

:host:hover{
    cursor: pointer;
}

img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}