:host{
    text-align: center;
}

#content{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    margin-top: 100px;
    text-align: center;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#title > img{
    border-radius: 50%;
    width: 200px;
    margin-top: 15px;
}

#title > span{
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
}

#separator{
    border-right: 1px solid grey;
    height: 60%;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
}

input{
    width: 250px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
}


button{
    width: 125px;
    height: 35px;
    align-self: center;
    border-radius: 5px;
    margin: 5px;
}

#avatar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#avatar > img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#loading{
    margin-top: 125px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-right: auto;
    margin-left: auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

