<div id="title">
    <img src="assets/Saiga.jpg" alt="Saiga chat" id="logo">
    <span>Welcome to Saiga</span>
</div>
<div id="loading" *ngIf="!isDbReady || !isConnectionReady">
    <div class="loader"></div> 
    <app-errormodal *ngIf="isInError" [errorMessage]="errorDBMessage"></app-errormodal>
</div>
<div id="content" *ngIf="isConnectionReady && isDbReady">
    <div id="login" class="flex-vertical">
        <h2>Login</h2>
        <input type="text" placeholder="Username" [(ngModel)]="profile.name" (keyup.enter)="login()">
        <input type="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
        <button (click)="login()">Login</button>
        <app-errormodal *ngIf="hasLoginError" [errorMessage]="loginErrorMessage"></app-errormodal>
    </div>
    <div id="separator"></div>
    <div id="register" class="flex-vertical">
        <h2>Register</h2>
        <input type="text" placeholder="Username" [(ngModel)]="registerProfile.name" (keyup.enter)="register()">
        <input type="password" placeholder="Password" [(ngModel)]="registerPassword" (keyup.enter)="register()">
        <input type="password" placeholder="Repeat password" [(ngModel)]="confirmedPassword" (keyup.enter)="register()">
        <div id="avatar">
            <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
            <img [src]="registerProfile.image">
        </div>
        <button (click)="register()">Register</button>
        <app-errormodal *ngIf="hasRegisterError" [errorMessage]="registerErrorMessage"></app-errormodal>
    </div>
</div>
