<div id="content" [ngClass]="{'left-content': !isOwnMessage, 'right-content': isOwnMessage}">
    <div id="profile">
        <img [src]="image">
        <span>{{messageInternal.senderName}}</span>
    </div>
    <div id="text-content" [ngClass]="{'other-msg': !isOwnMessage, 'own-msg': isOwnMessage}">
        <p id="text">{{messageInternal.text}}</p>
    </div>
</div>
