
#content{
    display: flex;
    margin: 5px;
    padding: 10px;
    align-items: center;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

#profile > span{
    font-size: 12px;
}


#profile > img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#text-content{
    border-radius: 20px;
    width: auto;
    height: auto;
    word-wrap: anywhere;
    max-width: 50%;
}

#text-content > p{
    font-size: 15px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.left-content{
    flex-direction: row;
}

.right-content{
    flex-direction: row-reverse;
}

.own-msg{
    background-color: #00aaff;
    color: white;
}

.other-msg{
    background-color: #ededed;
    color: black;
}