:host{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#autocomplete{
    position: relative;
    display: inline-block;
}

#autocomplete-itembox{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}

.autocomplete-item{
    width: 100%;
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
}

.autocomplete-item:hover{
    cursor: pointer;
    background-color: #eeeeee;
}

.autocomplete-item img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.autocomplete-item span{
    display: inline;
}

input{
    width: 100%;
    height: 45px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}