<div id="autocomplete">
    <input text="text" placeholder="Search someone..." (input)="onSearch($event)" [(ngModel)]="searchInput">
    <div id="autocomplete-itembox">
        <div class="autocomplete-item" *ngFor="let profile of profiles" (click)="onSelectProfile($event)" id={{profile.public_id}}>
            <img [src]="profile.image">
            <span>{{profile.name}}</span>
        </div>
    </div>
</div>