:host{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);
    overflow: hidden;
}

#inputs{
    margin-top: auto;
    padding: 5px;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#inputs > input{
    width: 80%;
    height: 25px;
    border-radius: 50px;
    padding-left: 15px;
}

#inputs > button{
    height: 30px;
    width: 15%;
    margin: 0px;
    border-radius: 20px;
}

#feed-content{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

app-message-box{
    max-width: 50%;
}