<div id="feed-content" #feedContent>
    <app-messagebox *ngFor="let message of messages" [messageInternal]="message"></app-messagebox>
</div>
<div id="inputs">
    <input type="text" #messageField [(ngModel)]="messageToSend" placeholder="Type your message..." (keyup.enter)="sendMessage()"><button (click)="sendMessage()">SEND</button>
</div>