/* You can add global styles to this file, and also import other style files */
html{
    margin:0px;
    padding: 0px;
    height: 100%;
}

body{
    margin:0px;
    padding: 0px;
    height: 100%;
}